<p id="notice"><%= notice %></p>

<h1>Ethics</h1>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ethics.each do |ethic| %>
      <tr>
        <td><%= ethic.desc %></td>
        <td><%= link_to 'Show', ethic %></td>
        <td><%= link_to 'Edit', edit_ethic_path(ethic) %></td>
        <td><%= link_to 'Destroy', ethic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ethic', new_ethic_path %>
