<footer>
    <div class="container-fluid">
    	<div class="col-md-12">
    		<h3>The Empire</h3>
    	</div>
		<div class="col-md-3" >
		    <p><%= link_to "Inicio", root_path %></p>
		    <p><%= link_to "Acerca de nosotros", pages_about_path %></p>
		    <p><%= link_to "Código de ética", pages_ethic_path %></p>
		    <p><%= link_to "Equipo corporativo", pages_corporateteam_path %></p>
		</div>
		
		<div class="col-md-3">
			<p><%= link_to "Zona de Trading", pages_trading_path %></p>
			<p><%= link_to "Membresia", pages_membership_path %></p>
		</div>
		<div class="col-md-3" >
			<p><%= link_to "Zona de Trading", pages_trading_path %></p>
			<p><%= link_to "Membresia", pages_membership_path %></p>
		</div>
		<div class="col-md-3">
			 <ul class="sm">
		        <li><a href="#" ><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive"></a></li>
		        <li><a href="#" ><img src="https://i.pinimg.com/originals/15/66/b3/1566b37726d9ba4b2867090a41635b49.png" class="img-responsive" ></a></li>
		        <li><a href="#" ><img src="https://www.bp.com/content/dam/bp/images/general/graphics/1-1/youtube.jpg" class="img-responsive"  ></a></li>
		    </ul>
		</div>
    </div>
</footer>
	<!-- ./Footer -->