<p id="notice"><%= notice %></p>

<p>
  <strong>Picvision:</strong>
  <%= @missionvision.picvision %>
</p>

<p>
  <strong>Descvision:</strong>
  <%= @missionvision.descvision %>
</p>

<p>
  <strong>Picmission:</strong>
  <%= @missionvision.picmission %>
</p>

<p>
  <strong>Descmission:</strong>
  <%= @missionvision.descmission %>
</p>

<%= link_to 'Edit', edit_missionvision_path(@missionvision) %> |
<%= link_to 'Back', missionvisions_path %>
